@CHARSET "UTF-8";
        .btn
        {
            width: 140px;
            height:24px;
            align:center;
            border-right: #7b9ebd 1px solid;
            padding-right: 2px;
            border-top: #7b9ebd 1px solid;
            padding-left: 2px;
            font-size: 12px;
            filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde);
            border-left: #7b9ebd 1px solid;
            cursor: hand;
            color: black;
            padding-top: 2px;
            border-bottom: #7b9ebd 1px solid;
        }
        .td
        {
            width: 140px;
            height:24px;
            align:right;
            
        }
